.lifestyleCaption h2 {
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.1em;
    text-transform: lowercase;
    padding-bottom: 0px;
}

.lifestyleCaption p {
    font-size: 1em;
    line-height: 1.25em;
    padding-top: 0px;
    font-weight: 200;
}

.lifestyleCaption > div > div {
    width: 40%;
    float: right;
}